
*{
    margin: 0;
    padding: 0;
}
header,nav,main,section,footer,aside,article,div
{
    display: block;
}
nav li{
    display: inline;
}

nav a{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

nav a:hover{
    text-decoration: none;
    color: #DC143C
}

header{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: rgba(125, 126, 128, 0.274);
    
}

header .master{
    position: absolute;
    height: 20px;
    left: 60px;
    top: 15px;
    color: rgb(158, 158, 158);
}
header .class{
    position: absolute;
    left: 110px;
    top: 15px;
    color: darkred
}
#logo{
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}
.main-nav{
    position: absolute;
    top: 25px;
    left: 150px;
}
.main-nav ul a{
    margin-left: 20px;
   
}
.login{
    position: absolute;
    left: 965px;
    
}
.signup{
    position: absolute;
    left: 1025px;
}

/*-------------------------------Home page----------------------------*/

body{
   
    font-family:'Roboto';
    
}
#wrapper{
    width: 1200px;
    margin: 0px auto;
}
#page_hover{
    color: rgb(0, 0, 0);
}
#home main{
    height: 800px;
}

.button1 {
    border-radius: 15px;
    font-size: 10px;
    font-weight: 200;
    color: white;
    background: #000000;
}

#home .button1{
    padding: 10px ;
}

#home .button1:hover{
    text-decoration: none;
    color: #DC143C ;
}

#home{  
    background-image: url(../images/pexels-photo-3815725.jpeg);
    background-color: rgba(0, 0, 0, 0.877);
    background-repeat: no-repeat;
    width: 100%;
}

#divs {
    position: absolute;
    top: 200px;
    left: 100px;
    color:#999;
    text-transform: uppercase;
    font-size:40px;
    width:400px;
    font-weight:bold;
    display:block;
  }
  
#flip {
    height:50px;
    overflow:hidden;
}
  
#flip > div > div {
    color:#fff;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}
  
#flip div:first-child {
    animation: show 5s linear infinite;
}
  
#flip div div {
    background:#42c58a;
}
#flip div:first-child div {
    background:#4ec7f3;
}

#flip div:last-child div {
    background:#DC143C;
}
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
 
#homePage #buttons{
    position: absolute;
    top: 150px;
}


.rictangle{
    position: absolute;
    width: 250px;
    height: 50px;
    top: 170px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 2px 7px rgba(255, 255, 255, 0.3);
}

.main-images img{
    width: 250px;
    height: 200px;
}

.main-images a{
    position: absolute;
    left: 65px;
    top: 18px;
    color: #fff;
	text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

#articles{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 600px;
}

#articles  .main-images{    
   margin-left: 100px;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

  
/********************************************profile page********************************/
#profilePage{  
    background-image: url(../images/background\ pages.jpg);
}

#profilePage main{
    width: 1200px;
    height: 520px;
}

.profileCard{
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 335px;
    text-align: center;
    margin-left: 20px;
}

#profilePage main h1,p {
    color: rgba(255, 255, 255, 0.788);
    
   
}
#profilePage main >section{
    margin-left: 20px;
}

#profilePage .button1{
    padding: 70px;
    font-size: 40px;
    margin-left: 40px;
    background-image: url(../images/background\ pages.jpg);
    color: white;
    text-decoration: none;
}
#profilePage .button1:hover{
    color: #DC143C;
}


#profilePage #buttons{
    position: absolute;
    top: 200px;
    left: 300px;  
}

footer{
    position: absolute;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #000000;    
}

footer section img{
    margin-top: 15px;
    margin-left: 15px;
}


/*----------------------form-----------------------*/
#add-course{
    background-image: url(../images/background\ pages.jpg);
}

.container {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:#F9F9F9;
    padding:25px;
    margin:50px 0;
}

#contact h3 {
    color: black;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

label {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:black;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background:darkred;
}

#add-course a{
    color: black;
}

#add-course a:hover{
    text-decoration: underline darkred;
}



/*-------------------------course page----------------------------------*/
#course-page{
    background-image: url(../images/background\ pages.jpg);
}

.main-course{
    position: absolute;
    display: flex;
    top: 150px;
    left:250px;
}
 h1{
    color: rgba(255, 255, 255, 0.788);
    margin-left: 20px;
}
.coursep{
    margin-left:100px;
}


.course-name{
    position: relative;
    background-color: black;
    width: 400px;
    height: 50px;
}
.course-name span{
    position: absolute;
    color: white;
    top: 15px;
    left: 15px;
}
.course-name a{
    position: absolute;
    right: 20px;
    top: 10px;
}
/*-----------------------------------------responsive-------------------------*/
@media (max-width:990px){
#home{
    background-image: url(../images/background\ pages.jpg);
}
footer{
    display: none;
}
#wrapper,main{
    margin: 0 auto;
    width:300px;
}
header{
    height: 80px;
}
.main-nav{
    display: none;
}
#logo{
    margin: 0 auto;
    left: 400px;
}
#divs{
    left:400px;
    top: 150px;
}
#home .button1{
    padding: 30px;
    font-size: 15px;
}
 #articles{
   display: none;
 }
 .profileCard{
     position: absolute;
     left: 25px;
 }


 #profilePage #buttons{
    position: absolute;
    top: 500px;
    display: flex;
    left: 0;
   
 
}
#profilePage main{
    position: absolute;
    margin: 0 auto;
    width:300px;

}
#profilePage .button1{
    padding: 40px;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 0px;
}
#course-page main{
    margin: 0 auto;
    width:300px;

}

.main-course{
    position: absolute;
    display: flex;
    top: 500px;
    left: 50px;
   
    
}
.coursep{
    margin-left:10px;
}
#course-page .profileCard{
    position: absolute;
    left: 350px;
    
}
.back{
    background-image: url("../images/back1.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
}
#border{
    display: none;
}
}
/***************************************hamburger&&border*******************************/
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{
    z-index:1000000; 
    font-weight:bold; 
    font-size:0.8em;
   width: 100%;
    background:#f1f1f160;
    position:absolute; 
    right: 0px;
    text-align:center; 
    font-size:12px;
}
  .menu ul {
    margin: 0; 
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
  .menu li {
      display: block;  
       padding:15px 0 15px 0;
        border-bottom:#000000 1px solid;
    }
  .menu li:hover{
      display: block;  
        background:#6b3d3dbb; 
        padding:15px 0 15px 0; 
        border-bottom:#000000 1px solid;
    }
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:rgb(255, 255, 255);}
  .menu a:hover{text-decoration:none; color:rgb(241, 241, 241);}

  #border{
      position: relative;
   border-style: solid;
   color: rgba(182, 34, 34, 0.404);
   top: 500px;

  }




